
<div
	class="min-w-full min-h-full bg-slate-800 w-full h-full fixed top-0 r-0 flex flex-col items-center justify-center"
>
	<div
		class="mx-auto my-auto w-fit text-slate-50 flex flex-col text-center max-w-lg gap-y-4"
	>
	<div>
		<i class="text-9xl ri-skull-line"></i>
	</div>
	<div class="text-8xl text-slate-50 font-script">Fehler</div>
	<div>
		Diese PocketCatalog-Installation ist noch nicht eingerichtet! Bitte loggen
		Sie sich als Administrator ein. <a
			class="underline decoration-dotted hover:decoration-solid"
			href="/login/">Ab- & neu anmelden &rarr;</a
		>
	</div>
	</div>
	</div>
