<div
	class="settings grid grid-cols-12 grid-rows-auto gap-y-4 gap-x-12 my-4 max-w-2xl"
	hx-swap="outerHTML">
	<div class="fielddesc">Name der Sammlung</div>
	<div>
		<div class="settings-info" id="name">{{ .Name }}</div>
		<div class="formhelp">
			<div><i class="ri-information-2-fill"></i></div>
			<div class="formhelptext">
				Vermeiden Sie allgemeine Bezeichnungen (»Bibliothek«), sondern identifizieren Sie Ihre
				Sammlung unter anderen (»Peters großes Modelleisenbahnverzeichnis«).
			</div>
		</div>
	</div>
	<div class="fielddesc">Kurzbeschreibung</div>
	<div>
		<div class="settings-info" id="shortdescription">
			{{- if eq .Desc "" -}}
				-
			{{- else -}}
				{{- .Desc -}}
			{{- end -}}
		</div>
		<div class="formhelp">
			<div><i class="ri-information-2-fill"></i></div>
			<div class="formhelptext">
				Die wichtigste Information, knapp ausgedrückt. Was wird gesammelt? Der Text erscheint auf
				der Startseite von PocketCatalog unter dem Titel; auch für ausgeloggte Benutzer.
			</div>
		</div>
	</div>
	<div class="fielddesc">URL der Sammlung</div>
	<div>
		<div class="settings-info" id="url">{{- .URL -}}</div>
		<div class="formhelp">
			<div><i class="ri-information-2-fill"></i></div>
			<div class="formhelptext">
				Die URL, unter welcher die Sammlung zu finden ist. Muss normalerweise nicht geändert werden.
			</div>
		</div>
	</div>
	<div class="fielddesc">Redaktion</div>
	<div>
		<div class="settings-info" id="editon">
			{{- if eq .Edition "" -}}
				-
			{{- else -}}
				{{- .Edition -}}
			{{- end -}}
		</div>
		<div class="formhelp">
			<div><i class="ri-information-2-fill"></i></div>
			<div class="formhelptext">
				Der Name der Person oder Organisation, die die redaktionelle Veranwortung für die Sammlung
				trägt. Erscheint im Impressum.
			</div>
		</div>
	</div>
	<div class="fielddesc">Kontaktadresse</div>
	<div>
		<div class="settings-info" id="contact">
			{{- if eq .Contact "" -}}
				-
			{{- else -}}
				{{- .Contact -}}
			{{- end -}}
		</div>
		<div class="formhelp">
			<div><i class="ri-information-2-fill"></i></div>
			<div class="formhelptext">Mailadresse. Erscheint im Impressum.</div>
		</div>
	</div>
	<div class="fielddesc">CURIE-Prefix</div>
	<div>
		<div class="settings-info" id="prefix">{{- .Curie -}}</div>
		<div class="formhelp">
			<div><i class="ri-information-2-fill"></i></div>
			<div class="formhelptext">
				Kurze, einmalige Buchstabenkombination. Sie haben die Möglichkeit, eigene Attribute zu
				vergeben, falls Felder in RDA fehlen (etwa Bearbeitungsvermerke); außerdem können Sie durch
				Vererbung von RDA-Attributen genauere Differenzierungen vornehmen. Ihre Attribute werden auf
				dem Server maschinen- und menschenlesbar veröffentlicht.
				<br />
				<a href="https://prefix.cc">Vorhandene Prefixe ansehen und eigenen registrieren.</a>
			</div>
		</div>
	</div>
	<div class="fielddesc">Logo</div>
	<div>
		<div class="settings-info" id="logo">
			{{- if eq .Icon "" -}}
				-
			{{- else -}}
				<img src="{{- .Icon -}}" alt="Logo" class="w-full" />
			{{- end -}}
			<div class="formhelp">
				<div><i class="ri-information-2-fill"></i></div>
				<div class="formhelptext">
					Das Logo erscheint auf der Login-Seite, der Startseite und als favicon im Browser. Am
					Besten ein quadratisches Format wählen; jpg und png sind erlaubt.
				</div>
			</div>
		</div>
		<div class="col-span-12">
			<button type="submit" class="btn" hx-get="/setup/2/_settings_form" hx-target=".settings">
				Bearbeiten
			</button>
		</div>
	</div>
</div>
