{{ template "setup-templates" . }}


<setup-header>
	<span slot="number">2</span>
	<span slot="title">PocketCatalog</span>
	<span slot="description">Allgemeine Einstellungen</span>
</setup-header>

<setup-columns>
	<div slot="header">PocketCatalog</div>
	<div slot="right">
		<p>
			PocketCatalog ist eine Software zur Aufnahme von Sammlungsbeständen und Recherche über
			bibliographische Einträge, Werke und Exemplare für kleine bis mittelgroße Sammlungen (10.000
			Benutzer gleichzeitig, 1.000.000 Einträge). Wichtige Ziele der Entwicklung von PocketCatalog
			sind die volle Unterstüzung der Katalogisierung nach dem
			<a
				href="https://www.ifla.org/wp-content/uploads/2019/05/assets/cataloguing/frbr-lrm/ifla-lrm-august-2017_rev201712.pdf">
				<b>IFLA Library Refence Modell</b>
			</a>
			, die Möglichkeit, eine performante <b>API</b> für Frontend- und Open Linked
			Data-Applikationen bereitzustellen und dabei vor allem die
			<b>einfache Handhabung</b> hinsichtlich Bedienung, Installation und Wartung.
		</p>
		<p>Die Software wird gemeinnützig entwickelt und vertrieben.</p>
		<p>
			<a class="!no-underline" href="https://github.com/Simon-Martens/PocketCatalog">
				<i class="ri-github-fill text-xl"></i>
			</a>
			<a class="!no-underline ml-2" href="mailto:simonmartens@mailbox.org"
				><i class="ri-mail-line text-xl"></i
			></a>
		</p>
	</div>
</setup-columns>

<setup-columns>
	<div slot="header">Nutzungshinweise</div>
	<div slot="right">
		<p>
			PocketCatalog ist technisch ein Wrapper um PocketBase, verfügt aber auch über einen eigenen
			Lesezugriff auf die Datenbank. Es werden Funktionen und APIs ergänzt, die PocketBase fehlen
			(etwa die Volltextsuche und beschleunigte JOIN-Querys). Ziel ist es, alle Module von
			PocketBase nach PocketCatalog umzuziehen; jedoch sind zurzeit einige Dienste nur über das
			Interface von PocketBase zugänglich, das Sie mit
			<code>pocktecatalog pb serve</code>
			starten können. Dazu gehören:
		</p>
		<ul>
			<li>Backup</li>
			<li>Maileinstellungen</li>
		</ul>
		<p>
			<a href="https://pocketbase.io/">
				<i class="ri-github-fill !no-underline inline-block mr-1.5"></i>
				Bitte unterstützen Sie die Entwicklung von PocketBase
			</a>
		</p>
	</div>
</setup-columns>

<setup-columns>
	<div slot="header">Einrichtung</div>
	<div slot="right">
		<p>
			Zur Einrichtung benötigt PocketCatalog ein paar Angaben. Alle Einstellungen können im
			Admin-Interface geändert werden; dennoch sollte vor allem der CURIE-Prefix bereits jetzt gut
			gewählt werden.
		</p>
		{{ if eq .Setup 2 }}
			{{ template "_settings_form.tmpl" . }}
		{{ else }}
			{{ template "_settings.tmpl" . }}
		{{ end }}
	</div>
</setup-columns>
