<div 
	class="min-h-full min-w-full mt-40"
	x-data="{ require: new URLSearchParams(window.location.search).get('require'), redirect: new URLSearchParams(window.location.search).get('redirect') }"
	>
	<div class="mx-auto w-auto max-w-md flex flex-col gap-y-6">
		<div class="w-24 h-24 border border-gray-300 mx-auto"></div>
		<h1 class="text-4xl font-bold text-center">sign in</h1>

		<div x-show="redirect" class="text-left border-l-2 border-slate-400 pl-3 py-1 bg-slate-100 text-slate-600 rounded-r">
			<p class="text-sm">Sie müssen <span class="italic" x-show="require === 'admin'">als Admin</span> angemeldet sein, um diese Seite zu sehen.</p>
			<p class="text-sm">Bitte melden Sie sich an.</p>
		</div>

		<form class="flex flex-col" x-data="{ username: '', password: ''}" method="POST" hx-post hx-target-error="#err">
			
				<div class="pb-login-input">
				<label for="username">E-Mail</label>
				<input
					type="email"
					placeholder=""
					name="username"
					required
					autocomplete="off"
					x-model="username"
				/>
			</div>

			<div class="pb-login-input">
				<label for="password">Passwort</label>
				<input
					type="password"
					placeholder=""
					name="password"
					required
					autocomplete="off"
					x-model= "password"
				/>
			</div>
			<div class="text-xs text-slate-400 flex flex-row">
				<div class="grow align-bottom self-end">Passwort vergessen?</div>
				<div class="grow-0">
					Login als
					<!-- Autocomplete muist be turned off for Mozilla Firefox -->

						<label>
							<input
								class="inline"
								type="radio"
								name="role"
								value="User"
								autocomplete="off"
								checked
							/>
							<span>Benutzer</span>
						</label>

						<label>
							<input
								class="inline"
								type="radio"
								name="role"
								value="Editor"
								autocomplete="off"
							/>
							<span>Redakteur</span>
						</label>

						<label>
							<input
								class="inline"
								type="radio"
								name="role"
								value="Admin"
								autocomplete="off"
							/>
							<span>Admin</span>
						</label>
				</div>
			</div>
			<div id="err" class="text-red-500 text-sm"></div>
			<button
				class="w-fit self-end rounded-md bg-slate-700 text-white mt-4 focus:bg-slate-800 hover:shadow hover:bg-slate-800 py-1 px-2 font-bold transition-all duration-150 active:bg-slate-700 disabled:bg-slate-400 disabled:hover:shadow-none"
				type="submit"
        x-bind:disabled="username && password  ? false : true"
				>Login<i class="ml-1 ri-arrow-right-line inline-block transition-all relative align-bottom"
				></i></button
			>
		</form>
	</div>
</div>
